# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Spark
spark-warehouse/
metastore_db/

# Generated parquet outputs
data/processed/*.parquet/

# Raw sequencing data
data/raw_sra/

# Logs
results/logs/

# OS files
.DS_Store
